<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Update User</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <form action="/update-user" method="POST">
      <fieldset>
        <legend>Update user:</legend>
        <div class="d_none">
          <label for="fname">id:</label>
          <input type="id" value="<%= userEdit.id %>" name="id" />
        </div>
        <label for="fname">Email:</label>
        <input
          type="email"
          value="<%= userEdit.email %>"
          name="email"
        /><br /><br />
        <label for="lname">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= userEdit.name %>"
        /><br /><br />
        <label for="city">City:</label>
        <input
          type="text"
          id="city"
          name="city"
          value="<%= userEdit.city %>"
        /><br /><br />
        <input type="submit" value="update" />
      </fieldset>
    </form>
  </body>
</html>
